<!DOCTYPE html>
<html>
<head>
<title>Makersbnb!</title>
</head>
<body>
<form action="makersbnb/sessions/new" method="get">
  <input type="submit" value="Login">
</form>
<a href="/about" >About</a>
<h1>Welcome to Makersbnb!</h1>
<h3>Feel at home with us!</h3>
<form action="/register" method="POST">
  <input type="text" placeholder="enter your e-mail" name="email" >
  <br></br>
  <input type="password" placeholder="password" name="password">
  <br></br>
  <input type="password" placeholder="confirm password" name="password_confirmation">
  <br></br>
  <input type="submit" value="Sign up">
</form>
</body>
</html>


