<!DOCTYPE html>
<html>
<head>
<title>Makersbnb!</title>
<% if @user %>
<h4> Logged in as <%= @user.email%></h4>
<form action="/makersbnb/sessions/destroy" method="POST">
  <input type="submit" value="Sign out">
</form>
<% else %>
<form action="/makersbnb/login" method="get">
  <input type="submit" value="Login">
</form>
<% end %>
<a href="/makersbnb/about" >About</a>
</head>
<body>
<h1>Welcome to Makersbnb!</h1>
<h3>Feel at home with us!</h3>
<% if !@user %>
<form action="/makersbnb" method="POST">
  <input type="email" placeholder="enter your e-mail" name="email" >
  <br></br>
  <input type="password" placeholder="password" name="password">
  <br></br>
  <input type="password" placeholder="confirm password" name="password_confirmation">
  <br></br>
  <input type="submit" value="Sign up">
</form>
<% end %>
</body>
</html>


