<!DOCTYPE html>
<html>
<head>
<title>Makersbnb!</title>
</head>
<body>
<form action="/makersbnb" method="get">
  <input type="submit" value="Sign up">
</form>
<a href="/makersbnb/about" >About</a>
<h1>Login to Makersbnb</h1>
<form action="/makersbnb/login" method="POST">
  <input type="email" placeholder="enter your e-mail" name="email" >
  <br></br>
  <input type="password" placeholder="password" name="password">
  <br></br>
  <input type="submit" value="Login">
</form>
</body>
</html>


