<!DOCTYPE html>
<html>
  <head>
    <title>A DIY BNB</title>
    <% if @user %>
      <h4> Logged in as <%= @user.email%></h4>
      <form action="/makersbnb/logout" method="POST">
        <input type="submit" value="Log out">
      </form>
    <% end %>
    <a href="/makersbnb/about" >About us</a>
    <br>
    <a href="/makersbnb/requests" >Requests</a>
    <br>
    <a href="/makersbnb/spaces" >Spaces</a>
  </head>
  <br></br>
  <body>
  <h2>Our Story</h2>
MakersBnB was born on Monday when four unwitting developers were forced together to embark on a exciting journey. <br>
We have since grown to 4 hosts who have welcomed more than 3 guest arrivals in the local area. <br>
Every day users discover new bugs on the site but MakersBnB offers one-of-a-kind stays at questionable properties. <br>

<h2>Founders</h2>
<ul>
<li>Ian King</li>
<li>Yousuf Mohamed</li>
<li>Dan Roche</li>
<li>Mubashar Ali</li>
</ul>
</body>
</html>