<!DOCTYPE html>
<html>
  <head>
  <title>A DIY BNB</title>
          <link rel="stylesheet" type="text/css" href="/style.css">
  <% if @user %>
    <h4> Logged in as <%= @user.email%></h4>
    <form action="/makersbnb/logout" method="POST">
      <input type="submit" value="Log out">
    </form>
  <% end %>
  <a href="/makersbnb/about" >About us</a>
  <br>
  <a href="/makersbnb/requests" >Requests</a>
  <br>
  <a href="/makersbnb/spaces" >Spaces</a>
  </head>
  <body>
  <div class="overlay">
  <h1>List a Space </h1>
  <form action='/makersbnb/spaces/new' method='POST'>
    <input type='text' placeholder='Name' name='name'>
    <br><br>
    <input type='text' placeholder='Description' name='description'>
    <br><br>
    <input type='number' placeholder='Price Per Night (£)' name='price'>
    <br><br><br>
    <input type='submit' value='List my Space'>
  </form>
  </body>
</html>