<!DOCTYPE html>
<html>
  <head>
    <title>A DIY BNB</title>
  </head>
  <body>
  <h1>List a Space </h1>
  <form action='/makersbnb/spaces/new' method='POST'>
    <label for='name'>Name: </label>
    <input type='text' name='name'>
    <br>
    <label for='description'>Description: </label>
    <input type='text' name='description'>
    <br>
    <label for='price'>Price per night (£): </label>
    <input type='text' name='price'>
    <br>
    <input type='submit' value='List my Space'>
  </form>
  </body>
</html>